.cd {

    width: 20rem;
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 30px;
    border-radius: 10px;

}

.btn-card {

    width: 100%;
    padding: 10px 20px;
    background: rgb(124, 72, 206);
    background: linear-gradient(90deg, rgba(124, 72, 206, 1) 59%, rgba(255, 98, 94, 1) 98%);
    color: white;
    border: 0;
}

.btn-card:hover {

    background: rgb(124, 72, 206);
    background: linear-gradient(90deg, rgba(124, 72, 206, 1) 100%, rgba(255, 98, 94, 1) 100%);
    color: white;
}

/* phone  */
@media screen and (max-width:576px) {

    .cd {

        width: 20rem;
        margin: 10px auto;
        padding: 0;


    }

}