.CourseHeading {

    margin-top: 200px;
}

.enroll-btn {
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    background: rgb(249, 206, 13);
    background: linear-gradient(90deg, rgba(249, 206, 13, 1) 2%, rgba(247, 149, 24, 1) 26%, rgba(240, 87, 34, 1) 98%);
}

.enroll-btn:hover {

    color: black;
    background: rgb(249, 206, 13);
    background: linear-gradient(90deg, rgba(249, 206, 13, 1) 0%, rgba(247, 149, 24, 1) 0%, rgba(240, 87, 34, 1) 98%);
}

/* phone  */
@media screen and (max-width:576px) {

    .CourseHeading {

        margin-top: 120px;
    }

}

/* tablet */
@media screen and (min-width:577px) and (max-width:991px) {
    .CourseHeading {

        margin-top: 150px;
    }
}