.s-btn {

    background-color: #FF625E;
    color: white;
    border-radius: 30px;
}

.s-btn:hover {

    background-color: #C32D4B;
    color: white;
}

.togcolor {

    color: black;
    font-size: 30px;
}

.home {

    background-color: #7C48CE;
    text-decoration: none;
    border-radius: 30px;
}

.clr2-btn {
    background-color: #C32D4B;
    border-radius: 30px;

}


.clr2-btn:hover {

    background-color: #FF625E;
    color: white;
    border-radius: 30px;

}

.p-img {

    width: 30px;
    cursor: pointer;
}

/* darkmode css  */
.dark-bg {

    background: rgb(28, 24, 53);
    background: linear-gradient(90deg, rgba(28, 24, 53, 1) 30%, rgba(44, 24, 59, 1) 62%, rgba(107, 22, 81, 1) 100%);
}