.heroHeading {

    margin-top: 160px;
    margin-bottom: 160px;
}

.heroImg {

    margin-top: 70px;

}

.m-color {

    color: #7C48CE;
    font-family: fantasy;
    font-size: 45px;
}


.m-color span {

    color: #FF625E;
}

.startBtn {

    background-color: #FF625E;
    padding: 10px 30px;
    color: white;
    border-radius: 30px;
}


.startBtn:hover {

    background-color: #C32D4B;
    color: white;
}

.courses {

    margin: 200px 0;
}

.card-sizing {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.clr {

    color: #7C48CE;
}

.sText {

    font-size: 50px;
    color: #B85744;
}

.projectBg {

    background-color: #FF625E;
    border-radius: 15px;
    padding: 10px;
}


.pageText {

    font-size: 50px;
    font-weight: bold;
    color: white
}

.carimage {

    border: 0;
    border-radius: 15px;
}

.btclr {

    background-color: white;
    color: #FF625E;
}

.btclr:hover {

    background-color: rgb(221, 214, 214);
    color: #FF625E;
}


/* phone  */
@media screen and (max-width:576px) {

    .heroHeading {

        margin-top: 90px;
        margin-bottom: 90px;

    }

    .heroImg {

        margin-top: 20px;

    }

    .courses {

        margin: 50px 0;
    }

    .card-sizing {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* tablet */
@media screen and (min-width:577px) and (max-width:991px) {

    .heroHeading {

        margin-top: 90px;
        margin-bottom: 90px;

    }

    .heroImg {

        margin-top: 120px;

    }

    .courses {

        margin: 80px 0;
    }

    .card-sizing {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}